*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
  --body-font: 'Source Sans Pro', sans-serif;
  --header-font: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
  font-family: var(--header-font);
}

p{
  font-family: var(--body-font);
}

a{
  font-family: var(--body-font);
}

/* nav bar default (full screen) */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo__image{
  max-width: 12em;
}
.nav__links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 1;
}
.nav__links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}
.nav__links li{
  list-style: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: teal;
  margin: 5px;
}

/* General section formatting */

section{
  padding: 5% 0% 5% 0%;
  }

/* Intro */
.intro{
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
}

.background__img{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background__img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background__img::after{
  border-radius: 10px;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.text__wrapper{
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 10%;
}
.intro__title{
  color: black;
  z-index: 1;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 3%;
}

.learn__more--button{
  z-index: 1;
  height: 100%;
}

.learn__more--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.75em 1em;
  text-align: center;
  display: block;
  width: 10em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff8c81;
  color: white;
  z-index: 1;
}
/* Slider */

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: -1;
  background: linear-gradient(to left, #B8C6DB,#F5F7FA);

}



/* Services */
.services__intro{
  position: relative;
  height: fit-content;
}
.services__intro::after{
  content: "";
  background-size: cover;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.services__intro__title{
  padding: 1% 10% 3% 10%;
  font-size: 55px;
  font-weight: bold;
  justify-content: right;
  text-align: left;
}

.services__intro__para{
  padding: 1% 10% 2% 10%;
  width: 100%;
  font-size: 24px;
  justify-content: left;
  text-align: left;
}

.services__intro__list{
  padding: 4% 10% 2% 10%;
  display: flex;
  justify-content: space-around;
}

.services__intro__list li{
  list-style: none;
  cursor: pointer;
  display: flex;
  height: fit-content;
}

.services__intro__list a{
  text-align: center;
  height: fit-content;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: bold;
  color:  #ff8c81;
  opacity: 1;
  z-index: 1;
}
.service__wrapper{
  display: flex;
  flex-direction: column;
}

.attendant__image{
  width: 100%;
}
/*
.attendant::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}
*/

.aides__image{
  width: 100%;
}
/*
.aides::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
*/

.nurse__image{
  width: 100%;
}
/*
.nurse::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
*/

.volunteer__image{
  width: 100%;
}
/*
.volunteer::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
*/
/* How it works section */
.how__intro{
  height: max-content;
}
/*
.how__intro::after{
  content: "";
  background: url("./images/Humaaans\ -\ 2\ Characters.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  width: 100%;
}*/

.how__intro__title{
  padding: 1% 0% 1% 10%;
  font-size: 55px;
  font-weight: bold;
  justify-content: left;
  text-align: left;
}
.how__wrapper{
  display: flex;
  width: 100%;
}
.how__intro__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 5% 2% 7%;
  opacity: 1;
  z-index: 2;
  position: absolute
}

.how__intro__list li{
  margin: 1em 1em;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  background-color: #cce6e6;
  color: black;
  border-radius: 10px;
  z-index: 2;
  
}
.how__intro__list p{
  width: 75%;
  font-size: 20px;
  z-index: 2;
}

.how__image{
  position: relative;
  object-fit: cover;
  margin-left: 30%;
}
.how__image img{
  z-index: -1;
}

.how__intro--button {
  padding: 10% 0% 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how__intro--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.75em 0.5em;
  text-align: center;
  display: block;
  width: 10em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color:#ff8c81;
  color: white;
}

/* Plan section */

.plan__intro{
  position: relative;
}

.plan__intro::after{
  content: "";
  background-color: white;
  /*;
  background: url("./images/IMG-20201029-WA0008.jpg");
  background-repeat: no-repeat;
  */
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.plan__intro__title{
  padding: 1% 0% 1% 10%;
  font-size: 55px;
  font-weight: bold;
  justify-content: left;
  text-align: left;
}

.plan__intro__para{
  padding: 4% 10% 5% 10%;
  width: 100%;
  font-size: 24px;
  justify-content: left;
  text-align: left;
}

.side__by__side{
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  display: grid;
  grid-template-areas: 
  'logo list'
  '. list';

}


.plan__intro__list {
  grid-area: list;
}

.plan__intro__list li{
  padding: 3%;
  margin-bottom: 3%;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 24px;
  color:black;
  background-color:#cce6e6;
  border-radius: 10px;
}

.icon{
  justify-content: center;
  grid-area: logo;
  border-radius: 10px;
  position: relative;
  width: 75%;
}


/* about */
.about__intro{
  background: linear-gradient(to left, #B8C6DB,#F5F7FA);
}
.about__intro__title{
  padding: 1% 0% 1% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.about__intro__para{
  padding: 1% 0% 2% 5%;
  width: 50%;
  font-size: 20px;
}
.about__intro--button{
  padding: 0% 0% 0% 5%;
}
.about__intro--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.25em 0.25em;
  text-align: center;
  display: block;
  width: 8em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: teal;
  color: white;
}

/* Footer styles */
.footer {
  background:black;
  color: white;
  padding: 5% 5%;
  font-size: var(--fs-h3);
}

.footer__list{
  display: grid;
  justify-content: space-around;
  grid-template-areas: 
  'list1 list2';
  grid-template-columns: max-content, max-content;
}
.footer__list__1{
  grid-area: list1;
}
.footer__list__2{
  grid-area: list2;
  display: flex;
}

.footer a { 
  color: white;
  text-decoration: none;
}
.info__list{
  font-size: 18px;
}
.info__list__item{
  margin-bottom: 1%;
}

.social-list {
  display: flex;
  font-size: 24px;
  margin: 0 0;
  padding: 1em 0;
  justify-content: center;
}

.social-list__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list__item {
  margin: 0 1em;
}

/* Variation for mobile screens */ 

@media screen and (max-width:768px){
  .body{
    overflow: hidden;
  }
  /* Nav Bar */ 
  .nav{
    position: relative;
  }
  .nav__links{
    background-color: white;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    z-index: 2;
  }
  .nav__links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

  /* Intro */ 
  .background__img img{
    height: 100%;
    width: 100%;
    object-fit:none ;
    display: block;
    position: relative;
  }
  .text__wrapper{
    display: flex;
    flex-direction: column;
    top: 20%;
  }
  .intro__title{
    width: 70%;
    font-size: 30px;
    margin-bottom: 3%;
  }
  .services__intro{
    height: fit-content;
  }

  .services__intro__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__intro__list a{
    height: min-content;
    padding-bottom: 0%;
  }
  .services__intro__list li{
    height: min-content;
    padding-bottom: 0%;
  }

  .attendant__image{
    object-fit: scale-down;
  }

  .aides__image{
    object-fit: scale-down;
  }

  .nurse__image{
    object-fit: scale-down;
  }

  .volunteer__image{
    object-fit: scale-down;
  }

  .how__intro__list{
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how__intro__list li{
    padding: 5%;
    text-align: center;
    margin-bottom: 1em;
    padding-top: 50px;
  }
  .how__intro__list p {
    width: 100%;
  }
  
  .how__image{
    margin-top: 140%;
    margin-left: -1%;
    width: 100%;
    z-index: 2;
  }

  .how__wrapper{
    height: max-content;
    display: flex;
    flex-direction: column;
  }

  .how__intro--button a{
    margin-top: -5%;
  }

  .plan__intro{
    display: flex;
    flex-direction: column;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .about__intro__para{
    width: 100%;
  }
  .side__by__side{
    display: flex;
    flex-direction: column;
  }
  .icon{
    margin-top: 5%;
    width: 100%;
  }
  .footer{
    padding: 2em 2em;
  }
}


/* Animations */ 

/* animations for Nav bar */ 
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}