*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/* nav bar default (full screen) */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo__image{
  max-width: 12em;
}
.nav__links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 1;
}
.nav__links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}
.nav__links li{
  list-style: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: teal;
  margin: 5px;
}

/* General section formatting */

section{
  padding: 5% 0% 5% 0%;
  }

/* Intro */
.intro{
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
}

.background__img{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background__img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background__img::after{
  border-radius: 10px;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}


.intro__title{
  padding: 0em, 1em;
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 150px;
  left: 20px;
  z-index: 1;
}

.learn__more--button{
  padding: 0em 1em;
  z-index: 1;
  height: 42px;
}

.learn__more--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.25em 0.25em;
  text-align: center;
  display: block;
  width: 8em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: teal;
  color: white;
  position: absolute;
  margin-top: -12%;
  z-index: 1;
}
/* Slider */

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: -1;
  background: linear-gradient(to left, #B8C6DB,#F5F7FA);

}



/* Services */
.services__intro{
  position: relative;
  height: max-content;
}
.services__intro::after{
  content: "";
  background-image:url("./images/IMG-20201029-WA0010.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.services__intro__title{
  padding: 1% 0% 3% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.services__intro__para{
  padding: 1% 10% 2% 10%;
  width: 100%;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

.services__intro__list{
  padding: 8% 0% 2% 0%;
  display: flex;
  justify-content: space-around;
}

.services__intro__list li{
  list-style: none;
  cursor: pointer;
  display: flex;
  height: 200px;
  width: 200px;
  align-items: flex-end ;
  border-radius: 10px;
}

.services__intro__list a{
  text-align: center;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6.5em;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  color:white;
  opacity: 1;
  z-index: 1;
}
.attendant{
  position: relative;
  background: url("./images/IMG-20201029-WA0007.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.attendant::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

.aides{
  position: relative;
  background: url("./images/IMG-20201029-WA0009.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.aides::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.nurse{
  position: relative;
  background: url("./images/TCH_palliative_care.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nurse::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.volunteer{
  position: relative;
  background: url("./images/IMG-20201029-WA0008.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.volunteer::after{
  content: "";
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

/* How it works section */
.how__intro{
  position: relative;
  height: max-content;
}
.how__intro::after{
  content: "";
  background: url("./images/TCH_palliative_care.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.how__intro__title{
  padding: 1% 0% 1% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.how__intro__list{
  display: flex;
  justify-content: space-around;
  padding: 7% 5% 2% 5%;
}

.how__intro__list li{
  margin: 0 1em;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  background-color: white;
  border-radius: 10px;
}
.how__intro__list p{
  width: 75%;
  font-size: 20px;
}

.how__intro--button {
  padding: 10% 0% 5% 0%;
  display: flex;
  justify-content: center;
}

.how__intro--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.25em 0.25em;
  text-align: center;
  display: block;
  width: 8em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: teal;
  color: white;
}

/* Plan section */
.plan__intro{
  position: relative;
}

.plan__intro::after{
  content: "";
  background: url("./images/IMG-20201029-WA0008.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.plan__intro__title{
  padding: 1% 0% 1% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.plan__intro__para{
  padding: 4% 10% 5% 10%;
  width: 100%;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

.side__by__side{
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  display: grid;
  grid-template-areas: 
  'list logo'
  'list . ';

}


.plan__intro__list {
  grid-area: list;
}

.plan__intro__list li{
  padding-bottom: 2%;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}

.icon{
  justify-content: center;
  grid-area: logo;
  border-radius: 10px;
  position: relative;
}


/* about */
.about__intro{
  background: linear-gradient(to left, #B8C6DB,#F5F7FA);
}
.about__intro__title{
  padding: 1% 0% 1% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.about__intro__para{
  padding: 1% 0% 2% 5%;
  width: 50%;
  font-size: 20px;
}
.about__intro--button{
  padding: 0% 0% 0% 5%;
}
.about__intro--button a{
  border-radius: 10px;
  cursor: pointer;
  padding: 0.25em 0.25em;
  text-align: center;
  display: block;
  width: 8em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: teal;
  color: white;
}

/* Footer styles */
.footer {
  background:black;
  color: white;
  padding: 5% 5%;
  font-size: var(--fs-h3);
}

.footer__list{
  display: grid;
  justify-content: space-around;
  grid-template-areas: 
  'list1 list2';
  grid-template-columns: max-content, max-content;
}
.footer__list__1{
  grid-area: list1;
}
.footer__list__2{
  grid-area: list2;
  display: flex;
}

.footer a { 
  color: white;
  text-decoration: none;
}
.info__list{
  font-size: 18px;
}
.info__list__item{
  margin-bottom: 1%;
}

.social-list {
  display: flex;
  font-size: 24px;
  margin: 0 0;
  padding: 1em 0;
  justify-content: center;
}

.social-list__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list__item {
  margin: 0 1em;
}

/* Variation for mobile screens */ 

@media screen and (max-width:768px){
  .body{
    overflow: hidden;
  }
  /* Nav Bar */ 
  .nav{
    position: relative;
  }
  .nav__links{
    background-color: white;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    z-index: 2;
  }
  .nav__links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }

  /* Intro */ 
  .background__img{
    height: 30%;
  }
  .intro__title{
    font-size: 25px;
  }
  .learn__more--button{
    margin-top: -20%;
  }
  .services__intro__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__intro__list li{
    margin-bottom: 1em;
  }

  .how__intro__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how__intro__list li{
    text-align: center;
    margin-bottom: 1em;
    padding-top: 50px;
  }
  .how__intro__list p {
    width: 100%;
  }

  .about__intro__para{
    width: 100%;
  }
  .side__by__side{
    display: flex;
    flex-direction: column;
  }
  .icon{
    margin-top: 5%;
  }
  .footer{
    padding: 2em 2em;
  }
}


/* Animations */ 

/* animations for Nav bar */ 
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}