*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  --body-font: 'Source Sans Pro', sans-serif;
  --header-font: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
  font-family: var(--header-font);
}

p{
  font-family: var(--body-font);
}

a{
  font-family: var(--body-font);
}

/* nav bar default (full screen) */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo__image{
  max-width: 12em;
}
.nav__links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 1;
}
.nav__links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}
.nav__links li{
  list-style: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: teal;
  margin: 5px;
}

/* about */

.about__intro{
  height: max-content;
  background: white;
}
.about__intro__title{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 60px;
  font-weight: bold;
  justify-content: start;
  text-align: left;
}

.wrapper{
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
}

.about__intro__para{
  justify-items: left;
  text-align: left;
  padding: 10%;
  width: 50%;
}

.about__intro__para p{
  justify-content: left;
  text-align: left;
  font-size: 26px;
  background-color: teal;
}

.about__image{
  height: 50%;
  width: 35%;
  padding-left: 5%;
}

.how__intro--button {
  display: flex;
}

.how__intro--button a{
  margin-left: 20%;
  margin-bottom: 5%;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.75em 0.55em;
  text-align: center;
  display: block;
  width: 8em;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff8c81;
  color: white;
}



/* Footer styles */
.footer {
  background:black;
  color: white;
  padding: 1% 5%;
  font-size: var(--fs-h3);
}

.footer__list{
  display: grid;
  justify-content: space-around;
  grid-template-areas: 
  'list1 list2';
  grid-template-columns: max-content, max-content;
}
.footer__list__1{
  grid-area: list1;
}
.footer__list__2{
  grid-area: list2;
  display: flex;
}

.footer a { 
  color: white;
  text-decoration: none;
}
.info__list{
  font-size: 18px;
}
.info__list__item{
  margin-bottom: 1%;
}

.social-list {
  display: flex;
  font-size: 24px;
  margin: 0 0;
  padding: 1em 0;
  justify-content: center;
}

.social-list__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list__item {
  margin: 0 1em;
}

.about__intro__para{
  padding: 1% 0% 2% 5%;
  width: 50%;
  font-size: 20px;
}

/* Variation for mobile screens */ 

@media screen and (max-width:768px){
  .body{
    overflow: hidden;
  }
  /* Nav Bar */ 
  .nav{
    position: relative;
  }
  .nav__links{
    background-color: white;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    z-index: 1;
  }
  .nav__links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .about__intro__para{
    width: 100%;
  }
  .about__image{
    width: 100%;
  }
  .how__intro--button{
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
  }
  .footer{
    padding: 2em 2em;
  }

  .about__intro__para{
    padding: 5% 5% 5% 5%;
  }
}

/* Animations */ 

/* animations for Nav bar */ 
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}