*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}
/* nav bar default (full screen) */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo__image{
  max-width: 12em;
}
.nav__links{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.nav__links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}
.nav__links li{
  list-style: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: teal;
  margin: 5px;
}

/* Contact page */  
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__content{
  max-width: 800px;
  text-align: center;
}
.contact__content__title{
  padding-bottom:20px ;
  font-size: 36px;
  font-weight: 500;
  color: teal;
}
.contact__content__para{
  font-size: 24px;
  font-weight: 300;
  color: teal;
}

.container{
  width: 100% ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.cantact__info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.icon{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  background-color: teal;
  color: white;
}

.text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

h3{
  font-weight: 500;
  color: teal;
}



aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
}
textarea {
width: 100%;
}
.content-head {
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.1em;
margin: 2em 0 1em;
}
.is-center {
text-align: center;
}
.button-success {
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
background:teal; /* this is a green */
}
.button-xlarge {
font-size: 125%;
}
button {
  width: 100px;
  height: 48px;
  align-items: center;
  justify-content: center;
  float: right;
  border-radius: 10px;
}
#name, #email {
  font-size: 18px;
  margin-left: 0.25em;
  padding: .25em, .25em;
  height: 48px;
  width: 50%;
  border: none;
}
#message {
  font-size: 18px;
  margin-left: 0.25em;
  padding: .25em, .25em;
  border: none;
  resize: none;
}

.honeypot-field {
display: none;
}
.contact__form{
  width: 50%;
}
.pure-group{
  font-size: 20px;
  padding-left: 0.25em;
  margin: 0.5em 0.5em;
  border-radius: 10px;
  border-color: teal;
}

@media screen and (max-width:768px){
  .body{
    overflow-x: hidden;
  }
  /* Nav Bar */ 
  .nav__links{
    background-color: white;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    z-index: 1;
  }
  .nav__links li{
    background-color: white;
    opacity: 0;
  }
  .burger{
    display: block;
  }

  /* Contact */
  .contact{
    padding: 50px;
  }

  .container{
    flex-direction: column;
  }
  .cantact__info{
    margin-bottom: 40px;
  }
  .container{
    width: 100%;
  }
  .contact_info, .contact__form{
    width: 100%;
  }


}

/* Animations */ 

/* animations for Nav bar */ 
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}