*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/* nav bar default (full screen) */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.logo__image{
  max-width: 12em;
}
.nav__links{
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 1;
}
.nav__links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}
.nav__links li{
  list-style: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: teal;
  margin: 5px;
}

/* Services styles */
.services__title{
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.services__intro__para{
  padding: 1% 5% 2% 5%;
  width: 100%;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

.services__intro__list{
  padding: 4% 0% 4% 0%;
  display: flex;
  justify-content: space-around;
}

.services__intro__list li{
  list-style: none;
  cursor: pointer;
  display: flex;
  background-color: teal;
  height: 200px;
  width: 200px;
  align-items: flex-end ;
  border-radius: 10px;
}
.services__intro__list a{
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1em 1em;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  color:white;
  opacity: 1;
}

/* Plan section */
.plan__intro{
  background: white;
}

.plan__intro__title{
  padding: 1% 0% 1% 0%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.plan__intro__para{
  padding: 1% 5% 2% 5%;
  width: 100%;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}
.plan__intro__list {
  padding-left: 5%;
}

.plan__intro__list li{
  padding-bottom: 1%;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: teal;
}


/* Footer styles */
.footer {
  background:black;
  color: white;
  padding: 1% 5%;
  font-size: var(--fs-h3);
}

.footer__list{
  display: grid;
  justify-content: space-around;
  grid-template-areas: 
  'list1 list2';
  grid-template-columns: max-content, max-content;
}
.footer__list__1{
  grid-area: list1;
}
.footer__list__2{
  grid-area: list2;
  display: flex;
}

.footer a { 
  color: white;
  text-decoration: none;
}
.info__list{
  font-size: 18px;
}
.info__list__item{
  margin-bottom: 1%;
}

.social-list {
  display: flex;
  font-size: 24px;
  margin: 0 0;
  padding: 1em 0;
  justify-content: center;
}

.social-list__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list__item {
  margin: 0 1em;
}


/* Variation for mobile screens */ 

@media screen and (max-width:768px){
  .body{
    overflow: hidden;
  }
  /* Nav Bar */ 
  .nav{
    position: relative;
  }
  .nav__links{
    background-color: white;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    z-index: 1;
  }
  .nav__links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  .services__intro__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__intro__list li{
    margin-bottom: 1em;
  }

  .footer{
    padding: 2em 2em;
  }
}

/* Animations */ 

/* animations for Nav bar */ 
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}